*.swp
.DS_Store
/.bundle
/.sass-cache
/bin
/config/database.yml
/config/deploy.yml
/config/settings.yml
/db/*.sqlite3
/log/*.log
/log/sunspot-solr-development.log*
/public/assets
/solr/data
/solr/pids
/tmp
