<h1>Реестры лагерей</h1>
<ul class='list'>
  <% @registers.each do |register| %>
    <li>
      <%= register.title %>
      (<%= link_to 'Редактировать', edit_manage_register_path(register) %>)
    </li>
  <% end %>
</ul>
