<h1>Список лагерей</h1>
<%= link_to 'Добаить лагерь', new_manage_camp_path %>
<ul>
  <% @camps.each do |camp| %>
    <li>
      <%= link_to camp.title, manage_camp_path(camp) %>
    </li>
  <% end %>
</ul>
