<h1>Список лагерей</h1>

<div class="actions">
  <%= link_to 'Добавить лагерь', new_manage_camp_path %>
</div>

<% if collection.any? %>
  <ul class='list'>
    <%= render collection %>
  </ul>
<% else %>
  <div class="empty">Нет ни одного лагеря</div>
<% end %>
