app:
  secret:       SECRET

errors:
  key:          KEY
  url:          http://errors.openteam.ru

cms:
  url:          http://cms.site.url
  site_slug:    site

storage:
  url:          http://storage.url

mail:
  address:      host
  port:         25
  domain:       domain
  login:        username
  password:     password
  from:         user@host
  to:           user@host

recaptcha:
  public:       KEY
  private:      KEY
