@import 'compass/reset'

html
  body
    font-family: sans-serif
    font-size: 12px

    .content-wrapper
      margin: 0 auto
      width: 960px

      form
        .input
          label, span
            display: block
