<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag 'manage/application' %>
    <%= javascript_include_tag 'manage' %>
    <title>camps.tomsk.ru - manage</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main_wrapper">
      <%= yield %>
    </div>
  </body>
</html>
